<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>314942341001-7ljjecf1k5otickgf2ma24tgu83bqveb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314942341001-7ljjecf1k5otickgf2ma24tgu83bqveb</string>
	<key>API_KEY</key>
	<string>AIzaSyApPYdNGiPuZqey9i4KQd4HHl4JlVpqiyY</string>
	<key>GCM_SENDER_ID</key>
	<string>314942341001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FaithMeetsLove</string>
	<key>PROJECT_ID</key>
	<string>faith-meets</string>
	<key>STORAGE_BUCKET</key>
	<string>faith-meets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314942341001:ios:47eb564d65d01721</string>
	<key>DATABASE_URL</key>
	<string>https://faith-meets.firebaseio.com</string>
</dict>
</plist>